body {
    background: teal;
}

body h1, h3 {
    text-align: center;
}

ol {
    text-align: center;
    list-style-position: inside;
}

body ol li {
    font-size: larger;
}

p {
    font-size: large;
    margin-left: 40%;
    margin-right: 40%;
}

img.Translation {
    max-width: 35%;
    height: auto;
}

img.Denomination {
    max-width: 60%;
    height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 00.5in;
    margin-bottom: 00.5in;
    width: fit-content;
    max-width: 50%;
    background-color: palevioletred;
    padding: 10px;
    border-radius: 5px;
}

.btn {
    background-color: aquamarine;
    border-radius: 5px;
    max-width: 33%;
}

.btn:hover {
    border-color: black;
}
